<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>PROMOCIONES</title>
	<link rel="stylesheet"  href="../css/bootstrap.min.css">
	<!-- mi css -->
	<link rel="stylesheet"  href="../css/estilos.css">
</head>
<body>
	<nav class="navbar navbar-expand-lg fixed-top">
        <div class="container">
            <img src="../assets/img/libro_emote.jpg" class="logo-brand" alt="logo">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <img src="../assets/img/menu.svg">
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="../index.html">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Productos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="promociones.html">Promociones</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="nosotros.html">Nosotros</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contacto</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    
    <section id="promociones">
        <div class="container-fluid">
            <div class="content-center">
                <h2>Tenemos las mejores ofertas y  
                    <b>promociones</b>
                </h2>
                <p>Tu libro favorito al alcance de tus manos, con increibles descuentos </p>
            </div>
    
		<div class="row">
                <div class="col-md-6">
                    <div class="promociones-container">
                        <div>
                            <h2>Promoción #1</h2>
                            <p> 4$ </p>
                        </div>
                        <figure>
                        <img src="../assets/img/vueltaMundo.jpg" class="img-fluid" alt="Promocion 01">
                         <div class="promociones-details">
                                <h3>En stock</h3>
                                <p>4 restantes</p>
                        </div>
                        </figure>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="promociones-container">
                        <div>
                            <h2>Promoción #2</h2>
                            <p> 6$ </p>
                        </div>
                        <figure>
                            <img src="../assets/img/townSawyer2.jpg" class="img-fluid" alt="Promocion 02">
                        <div class="promociones-details">
                                <h3>En stock</h3>
                                <p>3 restantes</p>
                        </div>
                        </figure>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="promociones-container">
                        <div>
                            <h2>Promoción #3</h2>
                            <p> 3$ </p>
                        </div>
                        <figure>
                            <img src="../assets/img/CAPC.jpg" class="img-fluid" alt="Promocion 03">
                        <div class="promociones-details">
                                <h3>Agotados</h3>
                                <p>No hay stock disponible</p>
                        </div>
                        </figure>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="promociones-container">
                        <div>
                            <h2>Promoción #4</h2>
                            <p> 5$ </p>
                        </div>
                        <figure>
                             <img src="../assets/img/bajoEstrella.jfif" class="img-fluid" alt="Promocion 04">
                        <div class="promociones-details">
                                <h3>Agotados</h3>
                                <p>No hay stock disponible</p>
                        </div>
                       </figure>
                    </div>
                </div>
            </div>
            </section>
	</main>
	<!-- scripts bootstrap -->
		<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
		<script src="../js/bootstrap.bundle.min.js"></script>
	</body>
</html>	